<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Monitor Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/bower_components/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/bower_components/bootstrap/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/bower_components/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<link rel="stylesheet" href="/bower_components/nvd3/build/nv.d3.css">
  </head>

  <body ng-app='myapp'>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style='font-size:300%;color:#68ca62' >Monitor</a>
		 
        </div>
																							
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
			<input type="text" id="dropdownMenu" data-toggle="dropdown" class="form-control dropdown-toggle" placeholder="Search...">           
          </form>
		  <span class='dropdown navbar-brand' ng-controller='loggingCtrl'>
			Welcome,
			<a id="authenticate-dropdown" data-toggle="dropdown" class="dropdown-toggle">
				{{username}}
				<span class="caret"></span>
			</a>
			<ul class='dropdown-menu' aria-labelledby="authenticate-dropdown">
				<li ng-hide='logged'>
					<a href="#" data-toggle="modal" data-target="#signInModal">Sign In</a>					
				</li>
				<li ng-show='logged' ng-click='logout()'><a href="#">log out</a></li>
				<li ng-hide='logged'><a href="#">Sign Up (unavailable)</a></li>
			</ul>
		  </span>
        </div>
      </div>
    </nav>
	
	<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="col-md-4 col-md-offset-4" role="document" >
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title" id="myModalLabel">Please Sign In<br>	
					<small>For the sake of demonstration, log in with test accout<br>
						<small>email: testUser1<br>
						password: 123456</small>
					</small>
				</h3>
			  </div>
			  <div class="modal-body">
				<form ng-controller='formCtrl' ng-submit='login()' class="form-signin">		
					<label ng-show='loginFailed' style='color:red'>Sign in failed! Wrong email or password</label>
					<label for="inputEmail" class="sr-only">Email address</label>
					<input ng-model='email' type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
					<label for="inputPassword" class="sr-only">Password</label>
					<input ng-model='password' type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
					<div class="checkbox">
					  <label>
						<input type="checkbox" value="remember-me"> Remember me
					  </label>
					</div>
					<button ng-enabled='logging' class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form>
			  </div>
			  <div class="modal-footer">			
			  </div>
			</div>
		  </div>
	  </div>
	
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        <div ng-controller='data-display' class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Usage of the resource</h1>
		  <h4><small>This chart represents the a fictional parameter generated by the server every second.
			The parameter ranks between 0 to 100 as to represent persentages.<br>
			The parameter is published and subscribed by server through the broker Mosquitto.org.
			A cache is implemented in the server side to capture the data from last 50 seconds.
		  </small></h4>

          <div class="row placeholders">
			<nvd3 options="options" data="data"></nvd3>
          </div>

          <h2 class="sub-header">Raw data table<br>
		  <small>the data is totally generated by random</small>
		  </h2>
          <div class="table-responsive">
            <table class='table'>
				<tr>
					<th>time stamp</th>
					<th>usage percentage</th>
				</tr>
				<tbody>
				<tr ng-repeat='row in raw' >
					<td>{{row[0]}}</td>
					<td>{{row[1]}}</td>
				</tr>
				</tbody>
			</table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bower_components/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/bower_components/bootstrap/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/bower_components/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
	<!-- add angular -->
	<script src='/bower_components/angular/angular.min.js'></script>
	<script src='/bower_components/d3/d3.min.js'></script>
	<script src="/bower_components/nvd3/build/nv.d3.js"></script>
	<script src='/bower_components/angular-nvd3/dist/angular-nvd3.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
	<script src='/javascripts/indexScript.js'></script>
	
  </body>
</html>
